/*
Alla färgobjekt
*/


body{
    background-color: whitesmoke;
   
}

nav {
 
    background-color: darkblue;
    
}

.dropbtn {
    color: white;
 
}

.headerDiv{
    border-color: gray ;
}

button{
     background-color: darkblue;
    color: white; 
}


button:hover {
    background-color: blue;
}
.headerDiv{
    border-color: gray;
}

#headerShadow{
    background-color: lightgray;
}
button a{
    
    color: white;
}




.leftH3{
    background-color: darkgray;
     
}

.topH3{
     color: white; 
}

.container{
    background-color: white;
}

.dropdown-content {
   
    background-color: darkblue;
   
}

.dropdown-content a {
    color: white;

      background-color: darkblue;
    border-top-color: black;
}

.dropdown-content a:hover{   
      background-color: blue;
    
  }