

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
   
}
body{

    font-size: 2vw;
   
   
}

header{
    margin-top: 130px;
    text-align: center;
}

.headerDiv{
    border-style: solid;
    border-width: 5px;
}


#secCon{
    text-align: right;
}


.leftH3{
 
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;   text-align: center;
    
     
}

.topH3{
    
    display: list-item;                                                       
    list-style-type: disc;       
    list-style-position: inside;
    
}

.container{
      
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
}


#topRow{
    margin-top: 10%;
  
}


li  {
    display: inline-grid;
      float: left;
}

nav {
  
    position: fixed;

}




* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 0.1px;
    border: 1px solid red;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


@media only screen and (min-width: 601px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    
    .leftH3{
    background-color: orange;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 625px;
    
   
   
}
}